{% extends "base.html" %}

{% block head %}
    <title>{{school_name}}</title>
    <link rel="stylesheet"
          href="static/css/style.css" type="text/css">
    <link rel="shortcut icon" href="static/img/logo.jpg" type="image/jpg">
{% endblock %}

{% block school_name %}
    {{inf['school_name']}}
{% endblock %}

{% block attention %}
    {{attention}}
{% endblock %}

{% block link %}
    <a href="/">Главная</a><a> / Какая-то новость</a>
{% endblock %}

{% block content %}
    <h4 style="text-align: center; margin-bottom: 3.5vw;"><b>Новости и объявления</b></h4>
    <div class="card" style="width: 100%;">
        <h5 class="card-header">Featured</h5>
        <img class="card-img-top" src="" alt="Здесь должна быть картинка, но она не нашлась.">
        <div class="card-body">
        <h5 class="card-title">Название карточки</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Переход куда-нибудь</a>
      </div>
    </div>
{% endblock %}

{% block footer %}
        <h3 style="margin-left: 2vw; margin-bottom: 1.5vw;"><b>{{inf['full_school_name']}}</b></h3>
        <p style="margin-left: 2vw; ">{{inf['address']}}<br>{{inf['phone_number']}}<br> {{inf['email']}}</p>
{% endblock %}